body {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
h1 a{
    text-decoration: none;
    color: #F2F2F2;
}



.modVh{
    height: 120vh;
}

.carousel-custom img{
    height: 30em;
}
.contenedor-img-autores{
    padding: 15em 0 0 0em;
}

.carousel-custom{
    width: 100%;
    margin: 0 auto;
}


.forms {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #fff;
  padding: 2em;
  border-radius: 1em;
  width: 30%;
  max-width: 59.375em;
  background-color: #000000;
  box-shadow: 0em 3em 2em 0.1em #F2F2F2; 
  gap: 1em; 
  margin-top: 10rem;
}

.forms input {
  width: 100%;
  height: 2em;
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 10em;
  font-size: 1rem;
  box-sizing: border-box;
}

.forms button {
  background-color: #222;
  color: #fff;
  padding: 0.8em;
  border-radius: 0.5em;
  font-size: 1rem;
  border: none;
}




.us {
  width: 40%;
  height: auto;
}

.imagen-con-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagen-con-texto h3{
    padding: 1em 0em 0.3em 0em;
    color: #F2F2F2;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.09em;
}
.imagen-con-texto p{
    color: #F2F2F2;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.09em;
    font-size: 1.3em;
    width: 40%;
    text-align: center;
}

.altura{
    height: 140vh;
}


label{
     font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
     letter-spacing: 0.09em;
     line-height: 2.5em;
     font-size: 1.2em;
}
#contenedor-principal{
    background-color: black;
}

header{
    display: flex;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 2em;
    justify-content: space-between;
    color: #F2F2F2;
    max-width: 100%;
    text-align: center;
    z-index: 3;
    position: absolute;
    width: 100%;
    
}

/* menu cascada */
.dropdown-menu.custom-cascada {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0;
}


header h1{
    width: 33%;
    letter-spacing: 0.09em;
}
.menu-icono{
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
#header-iconos{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2em;
    width: 33%;
    justify-content: flex-start;
    padding: 2em;
}
svg{
    fill: #F2F2F2;
}
footer{
    display: flex;
    flex-direction: column;
    padding: 2em;
    color: #F2F2F2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
}
#nombre-banda{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}
#links{
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #F2F2F2;
    
}
#iconos-redes-footer{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2em;
    width: 100%;
    justify-content: center;
    padding: 1em;


}


#linkfooter{
    text-decoration: none;
    color: #F2F2F2;
    font-size: 1.2em;
}
/*BOTONES*/
.botones{
    width: 14.3rem;
    height: 4.87rem;
    font-size: 1.5rem;
    border-radius: 3.12rem;
    border: none;
    background-color: black;
    box-shadow: 0em 0.4em 1.8em 0.4em #F2F2F2;
    overflow: visible;
    white-space: nowrap;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F2F2F2;

}


button a{
    text-decoration: none;
    color: #F2F2F2;
}
.boton-ticket a{
    color: #000000;
}

button:hover{
    transform: translateY(-0.3em);
    box-shadow: 0px 8px 40px 8px #F2F2F2;
    cursor: pointer;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
}




/*
==================
------------INICIO
==================
*/
.contenedor-inicio{
    color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    max-height: 1440px ;

    
}
.nav-inicio{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
    width: 33%;
    text-align: right;
    padding: 2em;
}

#nav-inicio-li{
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F2F2F2;
    
}

ul li a{
    text-decoration: none;
    color: #F2F2F2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.09em;
    font-size: 1.5em;
    
}
.nav-inicio li a:hover {
    color: black;
    text-shadow: 0em 0em 1em #F2F2F2,
                 0em 0em 1em #F2F2F2,  
                 0em 0em 1em #F2F2F2,  
                 0em 0em 2em #F2F2F2,    
                 0em 0em 3em #F2F2F2;
                 transition: text-shadow 0.8s ease;    
}


#img-nav-inicio{
    width: 100%;
    height: auto;
    z-index: 1;
    mask-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)); 
}
#flecha-abajo-inicio{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}




/*
=======================
------------BIO-SECCION
=======================
*/
#bio-section {
    display: flex;
    align-items: center;
    max-height: 1400px;
    
}
.foto-bio{
    max-width: 60%;
    display: flex;
    justify-content: center;
    height: 45rem;
}
#img-bio-inicio{
     mask-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
}
.botonderecha{
    max-width: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
}


/*
=======================
------------SECCION TOUR
=======================
*/
.contenedor-show{
    width: 48%;
    max-width: 48%;
    height: 8.75em;
    background-color: #000000;
    border-radius: 2em 0.313em 0.313em 2em;
    border: none;
    display: flex;
    align-items: center;
; 
}
.contenedor-show:hover{
      transform: translateY(-0.3em);
      box-shadow: 0px 8px 40px 8px #F2F2F2;
      transition: transform 0.8s ease, box-shadow 0.8s ease;
}

.contenedor-show button:hover{
    box-shadow: none !important;
    transition: none !important;
    transform:none !important;
}

.contenedor-fecha{
    display: flex;
    flex-direction: column;
    width: 25em;
    padding: 1em;
    font-weight: bold;
    font-size: 2.5em;
    color: #F2F2F2;
    line-height: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.seccion-tours{
    padding: 5em;
    
}
.contenedor-show-container{
   width: 100%;
   max-width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2em;
   z-index: 0;
   position: relative;
}

.contenedor-get-ticket{
    display: flex;
    justify-content: center;
    padding: 0em 1em 0em 0em;
    width: 15.5em;
}
.lugar-show{
    color: #b0b0b0;
}
.boton-ticket{
    width: 11.063em;
    background-color: #F2F2F2;
    border: none;
    border-radius: 1.8em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    
}

.radio-derecho{
    border-radius:0.313em 2em 2em 0.313em;
}
.button-tours{
    width: 100%;
    display: flex;
    padding: 3em;
    justify-content: center;
}

.contenedor-show-container::after {
    content: ""; 
    
    position: absolute;
    
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 10em;
    
    background: linear-gradient(
        to top, 
        #000000 20%, 
        rgba(255, 255, 255, 0) 100%
    );
    
}


/*
==================
------------TIENDA
==================
*/

#tienda-section {
    display: flex;
    align-items: center;
 
}
.img-tienda-contenedor{
    max-width: 40%;
    height: 45rem;
}
.img-tienda-index {
     mask-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
}
.contenedor-boton-tienda{
    display: flex;
    justify-content: center;
    width: 70%;
}
.botonizquierda{
    display: flex;
    align-items: center;
    justify-content: center ;
}

/*
===============
-------GALERIA-seccion
===============
*/



/*
===============
-------BIO-PAGE
===============
*/

.contenedor-bio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-img-bio{
    display: flex;
    justify-content: center;
    padding: 10em 0em 0em 0em
}
.img-bio{
    mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
    width: 60rem;
}
.contenedor-texto-bio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 20em;
}

.contenedor-texto-bio p{
    font-size: 1.8em;
    color: #f2f2f2c9;
    text-align: center;
}

.contenedor-iframe-apple{
    display: flex;
    justify-content: center;
    width: 100%;
}


/*
===============
-------TOURS
===============
*/
.contenedor-shows-tours{
   width: 100%;
   max-width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2em;
   z-index: 0;
   position: relative;
}

.contenedor-titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.09em;
    padding: 0em 0em 5em 0em;
}

.contenedor-contenido{
    padding: 20em 0em 0em 0em;
}



/*
===============
-------DISCOS
===============
*/

.contenedor-productos-de-tienda{
    width: 100%;
    padding: 1em 20em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
}